# ========================================
# FRONTEND PRODUCTION CONFIGURATION
# ========================================
# Rename this file to ".env.production" in your frontend directory

# The full URL to your backend API server.
# If running natively, this will be localhost on the port specified in the backend .env file (default 8000).
EXPO_PUBLIC_API_URL=http://localhost:8000

# The environment name.
EXPO_PUBLIC_ENVIRONMENT=production
